h2{
background-color: rgb(155, 198, 170);
color:black;
font-size: 30px;
font-family: "Lobster", sans-serif;
}
h1{
    color:rgb(113, 145, 124);
}
h2{
    font-family: "Lobster", sans-serif;

}
#infopessoal{
    color:rgb(87, 84, 84)
}

